/**{background: rgba(0,0,0,.1)}*/
body,a{color:#000;background:#F2F2F2}
h1{text-align: center;}
a{font-size: 35px;text-decoration:none;text-align: center}
img{width:100%;display: block;max-width: 100%;border-radius: 10px;border:1.5px solid black}
pre{min-width:680px;white-space: pre-wrap;max-width:800px;
whitewhite-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
*word-wrap: break-word;
 *white-space : normal ;font-size:45px}
#item{display: inline-block;background: white}
.container{align-items: center}
.sidebar{min-width: 100px;float: left;width:625px;height:100%;}
a.brand{-size: 40px}
.main{min-width: 100px;float: right;width:-webkit-calc(100% - 625px) ;display: inline-block;}
div.item{padding:20px 10px;border: 1px solid black; }
.header{padding:5px;
display: inline-block;font-size: 35pxpx}
.logo{border: 2px solid #000;}
.intro{padding:15px;font-size：30px}
a.item{padding:2%;display:block;}
.list-group{width:100%}
.list-group-item{color:blue}
#toggle{display: none;}
.nav{display: none}
.list-group{}
.sidebar{display: none}
#toggle:checked ~ .nav,#toggle:checked ~ .sidebar,#toggle:checked ~.list-group{display: block}
#togglelabel{font-size: 50px;color:blue}
#logo{display: block}
#logomobile{display:none}
.mobile{display: none}
#frame{position:relative;width:600px;height:500px;overflow:hidden;border-radius:5px}
 #photos img{float:left;width:600px;height:500px}
#photos {  position: absolute;z-index:9;  width: calc(600px * 6); }
 .play{ animation: ma 16s ease-out infinite alternate;}
 @keyframes ma {
    0%,5% {        margin-left: 0px;       }
    15%,20% {       margin-left: -600px;    }
    30%,35% {       margin-left: -1200px;    }
   45%,50% {       margin-left: -1800px;    }
 65%,70% {       margin-left: -2400px;    }
 85%,100% {       margin-left: -3000px;    }    }
.mobile{display:none}
.pc{display: block}
 h3{text-align:center}
 *{font-size:38px;font-family: "楷体","楷体_GB2312";}
 iframe{width:100%;height:1050px}
 .bg1{background-image:url('src/bg1.jpg') no-repeat center}
