.sidebar{width:100%;float:none;position:relative;}
.main{width:100%;}
*{font-size: 60px}
#logo{display: none}
#logomobile{display: block;}
pre{font-size: 70px;max-width:800px;}
a{font-size: 65px}
.logo{border: 0;}

.mobile{display: block}
.pc{display: none}
 iframe{width:1000px}
