.sidebar{width:100%;float:none;position:relative;}
.main{width:100%;}
*{font-size: 60px}
#logo{display: none}
#logomobile{display: block;font-size: 50px;color:blue}
pre{font-size: 70px}
a{font-size: 65px}
