.sidebar{width:100%;float:none;position:relative;}
.main{width:100%;positionï¼šrelative;margin-top: 10.5cm}
*{font-size: 60px}
#logo{display: none}
#logomobile{display: block;}
pre{font-size: 70px;max-width:800px;}
a{font-size: 65px}
.logo{border: 0;}

.mobile{display: block}
.pc{display: none}
 iframe{height:900px;position:relative;display:block}
#scorll{overflow:aoto;width:650px}
td{min-width: 300px}
.sidebar{position: relative;}
.table{overflow:scroll;}
h1{font-size:1rem!important}
.float-right{font-size: 30px!important}
#photos {  position: absolute;z-index:9;  width: calc(800px * 6); }
 .play{ animation: ma 16s ease-out infinite alternate;}
 @keyframes ma {
    0%,5% {        margin-left: 0px;       }
    15%,20% {       margin-left: -800px;    }
    30%,35% {       margin-left: -1600px;    }
   45%,50% {       margin-left: -2400px;    }
 60%,70% {       margin-left: -3200px;    }
 80%,100% {       margin-left: -4000px;    }    }
 .sidebar{width:100%;}
 .main{width: 100%}
 #frame{position:relative;width:800px;height:800px;overflow:hidden;}
  #photos img{float:left;width:800px;height:800px}
a{text-align:auto;height:auto;}
